
body{
    width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c7c7c7;
    background: url("https://cdn.pixabay.com/photo/2017/07/08/11/33/white-2484120_640.png");
    
  background-size: cover;
  position: relative;
  overflow: hidden;
}
 form {
    background: rgb(255, 255,255,0.1);
    backdrop-filter: blur(15px);
    display: none;
    border-radius: 15px;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 40px 30px 30px 30px; 
    
}

input {
 margin: 10px;
 order: none;
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 15px;
  outline: none;
}
input::placeholder {
    font-style: italic;
    font-size: 90%;
    color: #6a6a6a;
  }
  
  /* พืื้นหลังข้อมูล */
  input:focus {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(3, 5, 0, 0.12), 0 1px 2px rgba(3, 5, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

.Submit {
    background-color: #080808;
    width: 200px;
    }
  
.Submit:hover {
    color: aqua;
  }